@model ProjectSite.Models.LocalPasswordModel

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Nieuw Wachtwoord</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.NewPassword,"Nieuw Wachtwoord")
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword,"Bevestig wachtwoord")
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Set wachtwoord" />
    </fieldset>
}
