@model ProjectSite.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}


<div id="logincont">
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)


                @Html.LabelFor(m => m.UserName,"Gebruikersnaam")
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)

                @Html.LabelFor(m => m.Password,"Wachtwoord")
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
                <br />
                @Html.CheckBoxFor(m => m.RememberMe,"Mij onthouden?")
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                <br />  
        <input type="submit" value="Log in" />
    <p>
        @Html.ActionLink("Registeer", "Register") als je nog geen account hebt.
    </p>
}
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
