@model ProjectSite.Models.LocalPasswordModel
@{
    ViewBag.Title = "Wachtwoord beheer";
}
<div id="logincont">
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

<p>Je bent ingelogt als <strong>@User.Identity.Name</strong>.</p>

@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
