@model ProjectSite.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<div id="RegisterCont">
    <h1>Registreer.</h1><br />
    <h2>Maak een nieuw account aan</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()


                @Html.LabelFor(m => m.UserName,"Gebruikersnaam")
                @Html.TextBoxFor(m => m.UserName)

                @Html.LabelFor(m => m.Password,"Wachtwoord")
                @Html.PasswordFor(m => m.Password)

                @Html.LabelFor(m => m.ConfirmPassword,"Wachtwoord opnieuw")
                @Html.PasswordFor(m => m.ConfirmPassword)

                @Html.LabelFor(m => m.Email,"E-mail")
                @Html.TextBoxFor(m => m.Email)<br />

        <input type="submit" value="Registeer" />
}
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
