<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Festival Electronic Rampage</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div>
                    <p class="Titel">@Html.ActionLink("Electronic Rampage", "Index", "Home")</p>
                </div>
                <div id="loginknoppen">
                    <section>
                        @Html.Partial("_LoginPartial")
                    </section>
                </div>
                <div>
                    <nav>
                        <ul id="mainmenu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Line-Up", "Index", "Lineup")</li>
                            @{
                                if(User.IsInRole("Admin"))
                                {
                                    <li>@Html.ActionLink("Tickets", "Admin", "Ticket")</li>
                                    <li>@Html.ActionLink("News Beheer", "Index", "Admin")</li>
                                }else{
                                    <li>@Html.ActionLink("Tickets", "Index", "Ticket")</li>
                                }
                             }

                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer class="contentfooter">
            <div class="contentwrapper">
                <div>
                    <p>&copy; @DateTime.Now.Year - James De Ridder Electronic Rampage</p>
                    <a href="@Url.Action("Rss","Api")"><img src='~/Images/rss.jpg' width='32' height='32'/></a>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
